<!-- <script type="text/javascript">
		var dom = document.getElementById("map");
		var myChart = echarts.init(dom);
		var app = {};


		d3.csv('./data/firedata.csv', function (error, firedata) {
			if (error) throw error;
		option = null;

		_mapRadius=[8,55]

	 radiusScale = d3.scaleSqrt()
				.domain([0,200])
				.range(_mapRadius);

		filterData = firedata.filter(function(d){return d.type =='工厂';});

	const dataByWhere=filterData.map(function(d) {
			 return {
				 name: d.province,
				 value: [d.longtitude,d.latitude,d.killed_injured],
				 kill:d.killed_injured
			 }
		 });



		 function tooltipData(data) {
				 var end_obj = [];
				 for (var i in data) {
						 var obj = {name: '',value: [], datas: []};
						 obj.name = data[i].where;
						 obj.value[0] =data[i]['longtitude'];
						 obj.value[1] = data[i]['latitude'];
						 obj.value[2] = data[i]['killed_injured'];
						 obj.value[3] = data[i]['month'];
						 obj.datas[0] =data[i]['year'];
						 obj.datas[1] = data[i]['province'];
						 obj.datas[2] = data[i]['killed_injured'];
						 obj.datas[3] = data[i]['reason'];
						 obj.datas[4] =data[i]['month'];
						 obj.datas[5] =data[i]['day'];
						 end_obj.push(obj);
				 }
				 return end_obj;
			 }

// console.log(tooltipData(filterData));

		 filterTopData = filterData.sort(function (a, b) {
				 return b.killed_injured - a.killed_injured;
		 }).slice(0, 6);

// console.log(filterTopData);
// console.log(tooltipData(filterTopData));

	 // console.log(filterTopData);

	 // function renderItem(params, api) {
	 //     var coords = [
	 //         [113.565309,22.232613],//广东申通
	 // 				[116.332857,23.280017],//广东文胸
	 //         [121.374867,28.452415],//浙江温岭
	 //         [124.05636,41.813243],//辽宁
	 // 				[116.28686,37.440784],//山东
	 // 				[119.963578,31.851932],
	 //         [118.16915,28.00347]//福建
	 //
	 //     ];
	 //     var points = [];
	 //     for (var i = 0; i < coords.length; i++) {
	 //         points.push(api.coord(coords[i]));
	 //     }
	 //
	 //     // console.log(points);
	 //     // var color = api.visual('color');
	 // 		var color = "#eee7d4";
	 //
	 //     return {
	 //         type: 'polygon',
	 //         shape: {
	 //             points: echarts.graphic.clipPointsByRect(points, {
	 //                 x: params.coordSys.x,
	 //                 y: params.coordSys.y,
	 //                 width: params.coordSys.width,
	 //                 height: params.coordSys.height,
	 //             }
	 //           )
	 //         },
	 //
	 //         style: api.style({
	 //             fill: color,
	 //             stroke: echarts.color.lift(color)
	 //         })
	 //     };
	 // }

		option = {
	 //  backgroundColor: '#000',
		title: {
			 text: '中国十年火灾',
			 subtext: 'data from PM25.in',
			 sublink: 'http://www.pm25.in',
			 left: 'center',
			 textStyle: {
					 color: '#fff'
			 }
		},//整个图标的标题
		tooltip : {
				 trigger: 'item',
			 formatter: function (a) {
						 return `<div class="toolDiv">${'地点：'+a['name']+
						 '<br>时间：'+a['data'].datas[0]+'/'+a['data'].datas[4]+
						 '/'+a['data'].datas[5]+'<br>伤亡人数：'+a['data'].datas[2]+
						 '<br>起火原因：'+a['data'].datas[3]+','+a['data'].value[0]+','+a['data'].value[1]}</div>`
			 },
		 },
		bmap: {
			 center: [104.114129, 37.550339],
			 zoom: 5,
			 roam: true,
			 mapStyle: {
					 styleJson: [
									 {
											 "featureType": "water",
											 "elementType": "all",
											 "stylers": {
														 "color": "#424443"
													 // "color": "#000"
											 }
									 },
									 {
											 "featureType": "land",
											 "elementType": "all",
											 "stylers": {
														 // "color": "#eee7d4"
													 // "color": "#424443"
													 "color": '#191919'
											 }
									 },
									 {
											 "featureType": "boundary",
											 "elementType": "geometry",
											 "stylers": {
														 "color": "#615a57"
													 // "color": "#000"
											 }
									 },
									 {
											 "featureType": "railway",
											 "elementType": "all",
											 "stylers": {
													 "visibility": "off"
											 }
									 },
									 {
											 "featureType": "highway",
											 "elementType": "geometry",
											 "stylers": {
														 "color": "#615a57"
													 // "color": "#000"
											 }
									 },
									 {
											 "featureType": "highway",
											 "elementType": "geometry.fill",
											 "stylers": {
														 "color": "#615a57",
													 // "color": "#000",
													 "lightness": 1
											 }
									 },
									 {
											 "featureType": "highway",
											 "elementType": "labels",
											 "stylers": {
													 "visibility": "off"
											 }
									 },
									 {
											 "featureType": "arterial",
											 "elementType": "geometry",
											 "stylers": {
												 "color": "#615a57"
											 }
									 },
									 {
											 "featureType": "arterial",
											 "elementType": "geometry.fill",
											 "stylers": {
												 // "color": "#000"
														 "color": "#615a57"
											 }
									 },
									 {
											 "featureType": "poi",
											 "elementType": "all",
											 "stylers": {
													 "visibility": "off"
											 }
									 },
									 {
											 "featureType": "green",
											 "elementType": "all",
											 "stylers": {
												 // "color": "#000",
														 "color": "#615a57",
													 "visibility": "off"
											 }
									 },
									 {
											 "featureType": "subway",
											 "elementType": "all",
											 "stylers": {
													 "visibility": "off"
											 }
									 },
									 {
											 "featureType": "manmade",
											 "elementType": "all",
											 "stylers": {
													 "visibility": "off"
											 }
									 },
									 {
											 "featureType": "local",
											 "elementType": "all",
											 "stylers": {
													 "visibility": "off"
											 }
									 },
									 {
											 "featureType": "arterial",
											 "elementType": "labels",
											 "stylers": {
													 "visibility": "off"
											 }
									 },
									 {
											 "featureType": "boundary",
											 "elementType": "geometry.fill",
											 "stylers": {
												 // "color": "#000"
														 "color": "#615a57"
											 }
									 },
									 {
											 "featureType": "building",
											 "elementType": "all",
											 "stylers": {
												 // "color": "#000"
														 "color": "#615a57"
											 }
									 },
									 {
											 "featureType": "label",
											 "elementType": "all",
											 "stylers": {
													 "visibility": "off"
											 }
									 }
					 ]
			 }
		},//定义地图上各种零件的颜色等
		series : [
			 {
					 name: '伤亡人数',
					 type: 'scatter',
					 coordinateSystem: 'bmap',
					 // data: dataByWhere,
					 data:tooltipData(filterData),
					 symbolSize:function(val){
									if (val[2]==963){
										return val[2] / 8
									}
								 //  if (val[2]==297){
								 // 	 return val[2] / 6
								 //  }
									if (val[2]==0){
									 return 6
								 }
									else {
										return radiusScale(val[2])
								}
							},
					 label: {
							 normal: {
								 // opacity:1,
								 data: dataByWhere,
								 formatter:function(a){
								 return (a['data'].datas[1]);
							 },
									 position: 'right',
									 show: false,
									 color:'#ffffff'
							 },
							 emphasis: {
									 show: true
							 }
					 },


					 itemStyle: {
							 normal: {
									 // color: '#ddb926'

									 data: dataByWhere,
									 color:function (a) {
										 // console.log(a['data'].value[3]);
														 if(a['data'].value[3] == 1||a['data'].value[3] == 2||a['data'].value[3] == 12){return '#eea404'}
														 if(a['data'].value[3] == 3||a['data'].value[3] == 4||a['data'].value[3] == 5){return "#751c05"}
														 if(a['data'].value[3] == 6||a['data'].value[3] == 7||a['data'].value[3] == 8){return "#1b3937"}
														 else{return "#f4e7c1"}
												 },
							 }
					 }
			 },
			 {
					 name: 'Top 5',
					 type: 'effectScatter',
					 coordinateSystem: 'bmap',
					 // data: filterTopData,//取前五
					 data:tooltipData(filterTopData),
						symbolSize:function(val){
							if (val[2]==963){
								return val[2] / 8
							}
								 if (val[2]==0){
									return 6
								}
								 else {
									 return radiusScale(val[2])
							 }
						 },
					 // symbolSize:3,
					 showEffectOn: 'emphasis',
					 rippleEffect: {
							 brushType: 'stroke'
					 },
					 hoverAnimation: true,
					 label: {
							 normal: {
								 // opacity:1,
								 formatter:function(a){
									 return (a['data'].datas[1]);
								 },
									 position: 'right',
									 color:'#ffffff',
									 show: true
							 }
					 },

					 itemStyle: {
							 normal: {
									 // 	color: '#f4e925',
									 color:function (a) {
										 // console.log(a['data'].value[3]);
														 if(a['data'].value[3] == 1){return '#83726c'}
														 if(a['data'].value[3] == 2){return '#83726c'}
														 if(a['data'].value[3] == 12){return '#83726c'}
														 if(a['data'].value[3] == 3){return "#5f4029"}
														 if(a['data'].value[3] == 4){return "#5f4029"}
														 if(a['data'].value[3] == 5){return "#5f4029"}
														 if(a['data'].value[3] == 6){return "#a6a9aa"}
														 if(a['data'].value[3] == 7){return "#a6a9aa"}
														 if(a['data'].value[3] == 8){return "#a6a9aa"}
														 else{return "#f1f0ed"}
												 },
									 opacity:0.5,
									 shadowBlur: 10,
									 shadowColor: '#333'
							 }
					 },
					 zlevel: 1
			 },
			 {
					 type: 'custom',
					 coordinateSystem: 'bmap',
					 // renderItem: renderItem,
					 itemStyle: {
							 normal: {
									 opacity: 0.5
							 }
					 },
					 animation: false,
					 silent: true,
					 data: [0],
					 z: -10
			 }
		]
		};

		if (option && typeof option === "object") {
		myChart.setOption(option, true);
		}

 // myChart.disableDragging();

});
</script> -->

<!doctype html>
<html>
	<head>
		<meta charset='utf-8'>
   	 	<meta name="viewport" content="width=device-width">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body>
		<div id="lede-graphic" style="background-image: url(./img/fire5.jpg);background-size:100%;">
		</div>

		<div class="container">
			<div class='viewOne' id="random-dots">
				<div id='dots-title'>
				<p style='position:absolute;top:85%;left:20%'>住宅</p>
				<p style='position:absolute;top:85%;left:50%'>工厂</p>
				<p style='position:absolute;top:85%;left:75%'>公共场所</p>
				</div>
				<!-- <div class='text-context' id='first-part'></div> -->
				<div class="tooltip">
							<div class="tipProvince"></div>
							<p class="tipDate"></p>
							<p class="tipTime"></p>
							<p class="tipWhere"></p>
							<p class="tipToll"></p>
							<p class="tipReason"></p>
				</div>
			</div>

			<div class='scroll-container'>
				<div class='scroll-scene'  style='position:absolute;top:100%' id='disappear-lede' ></div>
				<div class='scroll-scene'  style='position:absolute;top:200%' id='show-dots' >
								<div class='TextWrapper' id='firstpart-text'>
										<br>
										<br>
										<br>
										<p>十年来，中国大地上一幢幢高楼大厦拔起，一条条道路纵横交错，车流不息，灯火辉煌。这一丛丛一簇簇的灯光，却也带来
											了巨大的安全隐患。</p>
										<br>
										<p>不当使用电气已成为引发亡人火灾的首要原因，所占比重越来越大，从2009年的25.8%逐渐上升到2016年的30.1%。
											该类火灾易造成群死群伤，亡10人以上的46起重特大火灾中就有26起是电气起火。</p>
										<br>
										<p>我国平均每天约有4个人死于火灾，其中有81%的死者在消防队到场前就已经死亡。即使随时随地都有面对浓烟烈火的
											可能性，我们是否曾经挤出过那么一点点的时间去了解和思考，还是任凭自己淹没在现代文明的繁华中？</p>
								</div>
					</div>
					<div class='scroll-scene'  style='position:absolute;top:300%' id='dots-graphic' ></div>
					<div class='scroll-scene' style='position:absolute;top:400%' id='just-house'>
						<div class='TextWrapper'>
					</div>
					</div>

					<div class='scroll-scene' style='position:absolute;top:500%' id='house-part'>
						<div class='TextWrapper'>
						<div class="crosshead">栖身之地隐藏的危险</div>
						<br>
						<p>每当看到窗户里亮起的灯和飘来的饭香，在外奔波的我们绷着的心总会不由地变得柔软，
							因为那是家，是个可以卸下所有防备的地方。然而也正因为我们对家庭防火的掉以轻心，
							使得家也变得危险起来。</p>
						<br>
						<p>所有建筑火灾中，住宅火灾造成的人员伤亡远高于其他类型的建筑火灾。特别是近些年，
							社会企事业单位的火灾问题在各级公安消防部门的监督治理下得到有效遏制，这样一来，
							住宅火灾问题尤为凸显。从2008年到2017年中发生的782起较大及重特大火灾中，住宅火灾多达526起，
							伤亡人数高达2564人。2016年，我国因火灾死亡的人员中，八成死于住宅起火，
							远远高于2007年的66.7%。</p>
					</div>
					</div>

					<div class='scroll-scene' style='position:absolute;top:550%' id='dots-day-night'>
						<div class='TextWrapper'>
						<p id="highlight-sentence-one">住宅较大以及重特大火灾中，夜间火灾发生频率最高。夜间住宅火灾占总体的77%，
							伤亡人数占总亡人数的74%。</p>
							<p>夜间突然被惊醒的人们，因没有进行足够的消防演习训练，
							大脑还处于混沌的状态，在仓促逃生期间很难采取正确的逃生措施，使得夜间遇难者比重加大。
							夜间最是人们防范意识薄弱的时候，古时每晚有更夫敲着锣叫唤“天干物燥，小心火烛”便是这个道理。</p>
						<br>
						<p>2016年大年初八，一场凌晨的大火打破了成都邛崃街头的祥和宁静。2时40分，邛崃市临邛街道办事
							处东街267号何家大院居民房发生火灾，往日的四合院面目全非。起火原因为生活用火不慎引燃周围可燃物，
							又因为起火建筑为连片砖木结构房屋，耐火等级低，建筑密度大，易燃可燃物多，火灾荷载量大，火势蔓延迅速；
							建筑内防火间距不足，无消防通道，灭火救援困难，且整个住房唯一出口在火灾中被堵截，加之居住人群缺乏火
							场逃生疏散、家庭灭火等常识，是造成5名人员死亡的主要原因。</p>
					</div>
					</div>

					<div class='scroll-scene' style='position:absolute;top:610%' id='dots-winter'>
						<div class='TextWrapper'>
						<p id="highlight-sentence-two">正如成都邛崃何家大院这场火灾，近四成的住宅较大以及重特大火灾发生在冬天。</p>
							<p>冬季重大节日较集中，人流物流加快，使得火灾发生概率大大提高；而且冬季气候干燥，
							火险等级较高，特别是农村村寨和城镇依然建筑密集处，极易造成“火烧连营”的状况。
							2013年发生在甘肃省甘南藏族自治州迭部县腊子口乡黑多村的一场火灾，造成92户、
							420人受灾，直接财产损失2167万元，起因村民张某家的烟囱喷出的火星引燃柴草；
							冬季气候严寒，各大“取暖神器”展露手脚，却易造成短路、负荷等情况，从而引发电气火灾。</p>
					</div>
					</div>
					<div class='scroll-scene' style='position:absolute;top:660%' id='dots-up'>
						<div class='TextWrapper'>
						<div class="crosshead">人群中遗落的烟蒂</div>
						<br>
						<p>科学技术发达的今天，我们身边充斥着各类人工材料和制品的“人造”环境中。清晨，一走出家
							门就被卷入了更复杂的人造环境：地铁车厢、汽车、公交车、飞机，无一例外的都被人工材料包
							裹着；无论是人头攒动商场还是案牍劳形的写字楼，都让人们深陷于这个人造世界。而大多数这
							些人工材料都是可燃物，只要一个零星的火苗，便有可能带来一场火灾。</p>
						</div>
					</div>
			</div>

			<div id="map-graphic">
				<div id="map"></div>
			</div>
		</div>


		<script src='./bundle.js' type='text/javascript'></script>

		<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
	 <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
	 <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
	 <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
	 <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
	 <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
	 <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
	 <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
	 <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>

	  <script src="https://d3js.org/d3.v4.min.js"></script>
	 <!-- <script type="text/javascript" src="components/mapgraphic.js"></script> -->
	 <!-- <script src="components/echarts.js"></script>
	 <script src="components/china.js"></script> -->
	 <script type="text/javascript">
			 var dom = document.getElementById("map");
			 var chart_path = "/Statics/echarts/echarts"; //配置图表请求路径
    	 var map_path = "components/china.json";//配置地图的请求路径
			 var myChart = echarts.init(dom);

			 var ecConfig = '/Statics/echarts/config';


			 d3.csv('./data/firedata.csv', function (error, firedata) {
			   if (error) throw error;
				 var ecConfig = '/Statics/echarts/config';


				 	option = {
				 		title: {
				 			x:'center',
				 			textStyle: {
				 				color: '#ffffff',
				 				fontFamily:'Verdana',
				 				fontWeight:'bold'
				 			}
				 		},
				 		tooltip : {
				 			trigger: 'item'
				 		},
						visualMap:{
							min:10,
							max:35,
							text:['百分比'],
							realtime:false,
							calculable:true,
							inRange:{
								color:['yellow','red']
							}
						},
				 		legend: {
				 			orient: 'vertical',
				 			x:'left',
				 			textStyle:{
				 				normal:{
				 					color:'#999'
				 				},
				 				emphasis:{
				 					color:'#ffffff'
				 				},
				 				fontSize:15
				 			},
								selectedMode : 'single',
				 			data:['公共场所']
				 		},
				 		series: [
				 			{
				 				name: '公共场所',
				 				type: 'map',
				 				mapType: ['china'],
				 				selectedMode : 'multiple',
				 				itemStyle:{
				 					normal:{
				 						areaColor: '#e8e5da',
				 						borderColor: '#e8e5da',
				 						borderWidth:1
				 					},
										emphasis: {
											areaColor: '#e8e5da',
											borderColor: '#e8e5da'
										}
				 				},
									label: {
										normal: {
											show: false
										},
										emphasis: {
											show: false
										}
									},
				 				data:[
				 					{name:'天津', selected:false,
				 						itemStyle:{emphasis:{areaColor: '#ca5848'}},
				 						tooltip : {backgroundColor:'rgba(202,88,72,0.75)'}
				 					},
				 					{name:'新疆', selected:true,
				 						itemStyle:{emphasis: {areaColor: '#d05c4c'}},
				 						tooltip : {backgroundColor:'rgba(208,92,76,0.75)'}
				 					},
				 					{name:'北京', selected:true,
				 						itemStyle:{emphasis: {areaColor: '#d06252'}},
				 						tooltip : {backgroundColor:'rgba(208,98,82,0.75)'}
				 					},
				 					{name:'辽宁', selected:true,
				 						itemStyle:{emphasis: {areaColor: '#d06f4b'}},
				 						tooltip : {backgroundColor:'rgba(208,111,75,0.75)'}},
				 					{name:'内蒙古', selected:true,
				 						itemStyle:{emphasis: {areaColor: '#d3774c'}},
				 						tooltip : {backgroundColor:'rgba(211,119,76,0.75)'}
				 					},
				 				],
				 				tooltip : {
				 					trigger: 'item',
				 					backgroundColor:'rgba(202,88,72,0.75)',
				 					padding:10,
				 					textStyle:{
				 						color:'#fff',
				 						fontSize:16
				 					},
				 					formatter: function (params,ticket,callback){
				 						var $pna = params.name;
				 						var res = '';

				 						for(var i = 0;i<firedata.length;i++){
				 							if(firedata[i].province == $pna){
				 									return res = "地点："+firedata[i].where+"<br>时间"+firedata[i].year+"／"+firedata[i].month+"/"+firedata[i].day+"<br>起火原因："+firedata[i].reason;
				 							}
				 						}
				 					}
				 				}
				 			},



							// 	{
							// 		name: '工厂',
							// 		type: 'map',
							// 		mapType: 'china',
							// 		selectedMode : 'multiple',
							// 		itemStyle:{
							// 			normal:{
							// 				areaColor: '#eaeae9',
							// 				borderColor: '#ffffff'
							// 			},
							// 			emphasis: {
							// 				areaColor: '#c8c8c8'
							// 			}
							// 		},
							// 		label: {
							// 			normal: {
							// 				show: false
							// 			},
							// 			emphasis: {
							// 				show: true
							// 			}
							// 		},
							// 		data:[
							// 			{name:'福建', selected:true,
							// 				itemStyle:{
				 		// 					emphasis: {
				 		// 						areaColor: '#d57e4d'
				 		// 					}
							// 				}}，
							// 		{name:'广东', selected:true,
							// 				itemStyle:{
				 		// 					emphasis: {
				 		// 						areaColor: '#d57e4d'
				 		// 					}
							// 				}}，
							// 		{name:'海南', selected:true,
							// 				itemStyle:{
				 		// 					emphasis: {
				 		// 						areaColor: '#d57e4d'
				 		// 					}
							// 				}}，
							// 		{name:'河北', selected:true,
							// 				itemStyle:{
				 		// 					emphasis: {
				 		// 						areaColor: '#d57e4d'
				 		// 					}
							// 				}}，
							// 		{name:'江苏', selected:true,
							// 			itemStyle:{
							// 				emphasis: {
							// 					areaColor: '#d57e4d'
							// 				}
							// 			}}，
							// 		{name:'辽宁', selected:true,
							// 			itemStyle:{
							// 				emphasis: {
							// 					areaColor: '#d57e4d'
							// 				}
							// 			}}，
							// 		{name:'山东', selected:true,
							// 			itemStyle:{
							// 				emphasis: {
							// 					areaColor: '#d57e4d'
							// 				}
							// 			}}，
							// 		{name:'上海', selected:true,
							// 			itemStyle:{
							// 				emphasis: {
							// 					areaColor: '#d57e4d'
							// 				}
							// 			}}，
							// 		{name:'浙江', selected:true,
							// 			itemStyle:{
							// 				emphasis: {
							// 					areaColor: '#d57e4d'
							// 				}
							// 			}}，
							// 		{name:'天津', selected:true,
							// 			itemStyle:{
							// 				emphasis: {
							// 					areaColor: '#d57e4d'
							// 				}
							// 			}}
							// 		],
							// 		tooltip : {
							// 			trigger: 'item',
							// 			backgroundColor:'rgba(202,88,72,0.75)',
							// 			padding:10,
							// 			textStyle:{
							// 				color:'#fff',
							// 				fontSize:16
							// 			},
							// 			formatter: function (params,ticket,callback){
							// 				var $pna = params.name;
							// 				var res = '';
							//
							// 				for(var i = 0;i<firedata.length;i++){
				 		// 					if(firedata[i].area == $pna){
							// 					return res = "地点："+firedata[i].where+"<br>时间"+firedata[i].year+"／"+firedata[i].month+"/"+firedata[i].day+"<br>起火原因："+firedata[i].reason;
				 		// 						//console.log(res);
				 		// 					}
							// 				}
							// 			}
							// 		}
							// 	},

							// 	{
							// 		name: '中国台湾状元最青睐大学排行榜（1954-2000年）',
							// 		type: 'map',
							// 		mapType: 'china',
							// 		selectedMode : 'multiple',
							// 		itemStyle:{
							// 			normal:{
							// 				areaColor: '#eaeae9',
							// 				borderColor: '#ffffff'
							// 			},
							// 			emphasis: {
							// 				areaColor: '#c8c8c8'
							// 			}
							// 		},
							// 		label: {
							// 			normal: {
							// 				show: false
							// 			},
							// 			emphasis: {
							// 				show: true
							// 			}
							// 		},
							// 		data:[
							// 			{name:'台湾', selected:true,
							// 				itemStyle:{
				 		// 					emphasis: {
				 		// 						areaColor: '#d57e4d'
				 		// 					}
							// 				}
							// 			}
							// 		],
							// 		tooltip : {
							// 			trigger: 'item',
							// 			backgroundColor:'rgba(202,88,72,0.75)',
							// 			padding:10,
							// 			textStyle:{
							// 				color:'#fff',
							// 				fontSize:16
							// 			},
							// 			formatter: function (params,ticket,callback){
							// 				var $pna = params.name;
							// 				var res = '';
							//
							// 				for(var i = 0;i<$imgs3.length;i++){
				 		// 					if($imgs3[i].area == $pna){
				 		// 						return res = $pna+"【"+$imgs3[i].url+"人】<br><hr/>"+$imgs3[i].sc1+"<br>"+$imgs3[i].sc2+"<br>"+$imgs3[i].sc3+"<br>"+$imgs3[i].sc4+"<br>"+$imgs3[i].sc5;//设置自定义数据的模板，这里的模板是图片
				 		// 						//console.log(res);
				 		// 					}
							// 				}
							// 			}
							// 		}
							// 	}
				 		]
				 	};


				     myChart.setOption(option);

  });
 	 </script>

	</body>
</html>
